/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*add logo, blue and green bars*/
.ui-header.ui-bar-inherit {
	padding-top: 105px;
	background: url(http://elizabeth.augustinfotechteam.com/wp-content/uploads/2017/05/Elizabeth_Logo_trans-300x138.png) center no-repeat, 
	url(http://elizabeth.augustinfotechteam.com/wp-content/uploads/2017/05/IMG_0093-1920x850.jpg) no-repeat;
    	height: 130px;
	border: none;
    	/*background-size: 160px, 1999px;    	*/
}

/*page white and font*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: Montserrat, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
 	background: white!important;
	color: black;
	text-shadow: none;
}

/*color and square more info button*/
.rbn-more-info-button.ui-btn.ui-icon-arrow-r.ui-btn-icon-left.ui-btn-inline.ui-shadow.ui-corner-all {
	background-color: #39bb9d!important;
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*color and square titlebars*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: #39bb9d;
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}


/*Available Accommodation Options*/
.ui-panel-m.ui-corner-all.rbn-offers-panel.ui-hidden-container div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: white!important;
    	color: #002e52;
   	text-shadow: none;
   	border-bottom-width: 2px;
    	border-color: #39bb9d;    
    	border-bottom-style: inset;  	
}



/*bpay green line*/
#base_page\3a descPanel > div.ui-panel-m-content.ui-body.ui-body-inherit{
	border-top-width: 2px;
    	border-top-color: #39bb9d;
}

/*expanadble areas on bpay and yourbooking*/
.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-minus{
	background-color: white;
	color: #002e52;
	text-shadow: none; 
	border-color: #002e52;
	border-radius: 0px;
	border-width: 2px;
}

.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-plus{
	background-color: white;
	color: #39bb9d;
	text-shadow: none; 
	border-color: #39bb9d;
	border-radius: 0px; 
	border-width: 2px;
}

/*your booking page footer*/
.ui-footer.ui-bar-inherit{
	background-color: #39bb9d!important;
	color: white!important;
	text-shadow: none!important;
	border:none!important;
}

/*your booking logos*/
#base_page\3a messages {
	background: url('https://daks2k3a4ib2z.cloudfront.net/55b094b5ba59036467ba7b63/58215dc0274480cb21cae2ed_Countryresort_landscape.png') no-repeat,
	url('https://daks2k3a4ib2z.cloudfront.net/55b094b5ba59036467ba7b63/5614c8682f5f81153fba2507_theorchards_logo.jpg') no-repeat,
	url('https://daks2k3a4ib2z.cloudfront.net/55b094b5ba59036467ba7b63/561f569ea91d51093c4ca136_Akazora_logo.jpg') no-repeat;
	background-position: 5%, 50%, 93%;
	height: 123px;
}

/*your booking bars*/
#base_page\3a postab_head > tr, #base_page\3a ttab_head > tr{
	background-color: #39bb9d;
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*Your Booking non conf Red*/
.rb-notconfbook {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
