/* background white */
.ui-page-theme-a{
	background-color: White;	
}

/* colour on header/title bars */
.ui-panel-m-titlebar.ui-bar, .ui-column-header{
	background: linear-gradient(to top,#dfd3c6,#dfd3c6);
	color: black;
	text-shadow: none;
	border:none;
}

.ui-header.ui-bar-inherit{
	background:url("http://ww2.kyoto-saya.com/wp-content/uploads/2017/06/Saya-logo.png") no-repeat left, url("http://ww2.kyoto-saya.com/wp-content/uploads/2016/04/tower.jpg") no-repeat left;
	background-position: 20% ;
	border:none;
	height:100px;	
}

/*remove title*/
.ui-header.ui-bar-inherit h1.ui-title{
	display:none;
}

.ui-footer.ui-bar-inherit{
	background-color: #666!important;
	color: White!important;
	text-shadow: none!important;
	border:none!important;
}
