/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*add logo, blue and green bars*/
.ui-header.ui-bar-inherit {
	background: url(http://powderhounds.com/site/DefaultSite/skins/powderhounds/Images/logo.jpg) 500px no-repeat/*, url(http://powderhounds.com/site/DefaultSite/skins/powderhounds/images/content_Header.jpg) no-repeat center bottom*/;
    	height: 115px;
    	background-size: 160px, 1999px;
    	border-top-width: 32px;
    	border-top-color: #002e52;
    	border-bottom-width: 0px;
}
/*page white and font*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: Yu 'Open Sans',sans-serif;
	font-weight: 100;
 	background: white!important;
	color: black;
	text-shadow: none;
}

/*color and square more info button*/
.rbn-more-info-button.ui-btn.ui-icon-arrow-r.ui-btn-icon-left.ui-btn-inline.ui-shadow.ui-corner-all {
	background-color: #febb02!important;
	color: #002e52;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*color and square titlebars*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: #002e52;
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}


/*Available Accommodation Options*/
.ui-panel-m.ui-corner-all.rbn-offers-panel.ui-hidden-container div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: white!important;
    	color: #002e52;
   	text-shadow: none;
   	border-bottom-width: 2px;
    	border-color: #002e52;    
    	border-bottom-style: inset;  	
}

/*expanadble areas on bpay and yourbooking*/
.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-minus{
	background-color: white;
	color: #002e52;
	text-shadow: none; 
	border-color: #002e52;
	border-radius: 0px;
	border-width: 2px;
}

.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-plus{
	background-color: white;
	color: #39bb9d;
	text-shadow: none; 
	border-color: #39bb9d;
	border-radius: 0px; 
	border-width: 2px;
}



