/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*change header colour and size*/
.ui-header.ui-bar-inherit {
	background:url(https://roomboss.github.io/css/wow/Niseko-Wow-Logo.png) center no-repeat;
	background-size: 100px;
	background-color:rgba(86, 148, 205, 1);
	height: 70px;
	border-bottom-width:1px;
	border-top-width:0px;
	border-color:black;    	
}

/*page white and font*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: Yu 'Open Sans',sans-serif;
	font-weight: 100;
 	background: white!important;
	color: black;
	text-shadow: none;
}


/*expanadble areas on bpay and yourbooking*/
.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-minus{
	background-color: white;
	color: black;
	text-shadow: none; 
	border-color: black;
	border-radius: 0px;
	border-width: 2px;
}

.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-plus{
	background-color: white;
	color: rgba(86, 148, 205, 1);
	text-shadow: none; 
	border-color: rgba(86, 148, 205, 1);
	border-radius: 0px; 
	border-width: 2px;
}

/*your booking page footer*/
.ui-footer.ui-bar-inherit{
	background-color: rgba(86, 148, 205, 1)!important;
	color: white!important;
	text-shadow: none!important;
	border:none!important;
}

/*ma page selector*/
.ui-paginator-page.ui-btn-active.ui-btn{
	color: #333!important;
	text-shadow: none!important;
	border:none!important;
}

/*your booking bars*/
#base_page\3a postab_head > tr, #base_page\3a ttab_head > tr{
	background-color: rgba(86, 148, 205, 1);
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*ma bars*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: rgba(86, 148, 205, 1);
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*Available Accommodation Options*/
.ui-panel-m.ui-corner-all.rbn-offers-panel.ui-hidden-container div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: white!important;
    	color: #002e52;
   		text-shadow: none;
   		border-bottom-width: 4px;
    	border-color: rgba(86, 148, 205, 1);    
    	border-bottom-style: inset;  	
}

/*color more info button*/
.rbn-more-info-button.ui-btn.ui-icon-arrow-r.ui-btn-icon-left.ui-btn-inline.ui-shadow.ui-corner-all {
	background-color: orange!important;
	color: white;
	text-shadow: none; 
	border: none;	  	
}

/*Your Booking non conf Red*/
.rb-notconfbook {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
