.bold {
	font-weight: bold;
}

.left {
	text-align: left;
}

/*color shadow to empasise book and pay ma.jsf*/
#base_page\:vform\:booknpay{
	box-shadow:0 0 12px green;
}

/*color shadow to empasise book and pay bpay1.jsf*/
#base_page\:bpayForm\:tabview\:booknpay{
	box-shadow:0 0 12px green;
}


/*remove line break for in/out dates bpay*/
#base_page\3a datesPanel > div > div > h4 > br{	
	display:none;
}

/*make space between for in/out dates bpay*/
#base_page\3a datesPanel > div > div > h4 > span:nth-child(3){	
	margin-left:10px;
}

/*to grey guest icon does not work in IE10 upwards*/
.rb-gicon{	
	filter: grayscale(100%);
}
