
/*background white*/
.ui-page.ui-page-theme-a.ui-page-active{
	background-color: White;	
}

/*remove title*/
.ui-header.ui-bar-inherit h1.ui-title{
	display:none;
}

.ui-header.ui-bar-inherit{
	background:url("http://www.villasuami.com/images/villa/main.jpg") no-repeat center;
	background-position: 25% 25%;
	background-color:white;
	/*background-size:300px;*/
	border:none;
	height:200px;	
}

#base_page:descPanel{
	display:none;
}
