
/*background white*/
.ui-page.ui-page-theme-a.ui-page-active{
	background-color: White;	
}

/*remove title*/
.ui-header.ui-bar-inherit h1.ui-title{
	display:none;
}

/*header image*/
.ui-header.ui-bar-inherit{
	background:url("http://www.villasuami.com/images/villa/main.jpg") no-repeat center;
	background-position: 25% 75%;
	background-color:white;
	border:none;
	height:200px;	
}

/*remove description panel from bpay1*/
.ui-panel-m.ui-corner-all.rbn-vendor-panel{
	display:none;
}
