.ui-title{
	color: white!important;
	text-shadow: none!important;
	margin-top: 50px!important;
	font-size: 20px!important;	
}

.ui-header.ui-bar-inherit {
	background: url(https://holidayniseko.com/sites/all/themes/hnresponsive5.1/img/logo_header.png) 15% no-repeat;
    	height: 120px;    
   	background-color: rgb(0, 132, 61);     
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: rgb(0, 132, 61);
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*page footer*/
.rbn-footer{
	background-color: rgb(0, 132, 61)!important;
	color: white!important;
	text-shadow: none!important;
	border:none!important;
}
