/* #5357: bpay1 shown within iframe */

/* Avoid top level padding. need to make this bpay widget only */
[title~=Taiga] .ui-content {
	padding: 0;
}

/* Avoid header need to make this bpay widget only*/
[title~=Taiga] .ui-header.ui-bar-inherit {
	visibility: hidden;
	height: 0;
}


/* for your booking page*/
.ui-title{
	padding-top:50px;
	font-size:20px;
}

/* Avoid vendor description. */
#base_page\:descPanel {
	visibility: hidden;
	height: 0;
}

/* background white */
.ui-page-theme-a{
	background-color: White;	
}

/*image, colour on header*/
.ui-header.ui-bar-inherit {
	background: url('http://www.taigaprojects.com/assets/img/logo.png') left no-repeat, linear-gradient(to top,#213357,#3585ac);
	background-position: 475px, 500px;
   	height: 123px;
}

/* colour on header/title bars */
.ui-panel-m-titlebar.ui-bar, .ui-column-header{
	background: linear-gradient(to top,#213357,#3585ac);
	color: white;
	text-shadow: none;	
}

