/* #5357: bpay1 shown within iframe */

/* Avoid top level padding. */
.ui-content {
	padding: 0;
}

/* Avoid header  */
.ui-header.ui-bar-inherit {
	visibility: hidden;
	height: 0;
}

/*image, colour below header, as I can find a way to select the headers on your booking / bpay individually this adds underneath*/
#base_page\3a messages {
	background: url('http://www.taigaprojects.com/assets/img/logo.png') left no-repeat, linear-gradient(to top,#213357,#3585ac);
	background-position: 350px, 500px;
   	height: 123px;
	padding-bottom: 5px;
}

/* Avoid vendor description. */
#base_page\:descPanel {
	visibility: hidden;
	height: 0;
}

/* background white */
.ui-page-theme-a{
	background-color: White;	
}




/* colour on header/title bars */
.ui-panel-m-titlebar.ui-bar, .ui-column-header{
	background: linear-gradient(to top,#213357,#3585ac);
	color: white;
	text-shadow: none;	
}

