/* #5357: bpay1 shown within iframe */

/* Avoid top level padding. need to make this bpay widget only 
.ui-content {
	padding: 0;
}*/

/* Avoid header need to make this bpay widget only
#base_page\:descPanel {
	visibility: hidden;
	height: 0;
}
*/

/* Avoid vendor description. */
#base_page\:descPanel {
	visibility: hidden;
	height: 0;
}

/* background white */
.ui-page-theme-a{
	background-color: White;	
}

/*image, colour on header*/
.ui-header.ui-bar-inherit {
	background: url('http://www.taigaprojects.com/assets/img/logo.png') left no-repeat, linear-gradient(to top,#213357,#3585ac);
	background-position: 375px, 500px;
   	height: 123px;
}

/* colour on header/title bars */
.ui-panel-m-titlebar.ui-bar{
	background: linear-gradient(to top,#213357,#3585ac);
	color: white;
	text-shadow: none;	
}

.ui-column-header {
	background: linear-gradient(to top,#213357,#3585ac);
	color: white;
	text-shadow: none;    	
}

/*calendar dates black*/
.nvav-date{	
	color: black;
	background-color: white;
}
