.ui-title{
	color: white!important;
	text-shadow: none!important;
	margin-top: 60px!important;
	font-size: 20px!important;	
}

.ui-header.ui-bar-inherit {
	background: url(http://thenisekocompany.com/_/img/new-logo-421-40.png) 10% 20% no-repeat, url(http://thenisekocompany.com/_/img/granite.jpg) repeat;
    height: 140px;    
   	/*background-color: Black;*/     
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background: url(http://thenisekocompany.com/_/img/granite.jpg) repeat;
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*page footer*/
.rbn-footer{
	background: url(http://thenisekocompany.com/_/img/granite.jpg) repeat;
	color: grey!important;
	text-shadow: none!important;
	border:none!important;
}
